@{
    ViewBag.Title = "Contact Us";
}
@{
    if (ViewBag.userLoggedIn != null && ViewBag.userLoggedIn == true)
    {
        Layout = "~/Views/Shared/_UserHomeLayout.cshtml";
    }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Giza<br />
    Cairo university, Faculty of engineering<br />
    <abbr title="Phone">P:</abbr>
    +20 011 122 233 34
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@example.com</a>
</address>