@model BBMS.blood_camp

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>blood_camp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Driver Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.driver_name)
        </dd>

        <dt>
           Hospital Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.blood_camp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
